{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Проверьте почту</h3>
                </div>
                <div class="card-body">
                    <p>На вашу почту отправлено письмо со ссылкой для подтверждения.</p>
                    <p>Перейдите по ссылке, чтобы активировать аккаунт.</p>
                    <a href="/" class="btn btn-primary">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}