{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center g-4">

        <!-- Навык скоропечатание -->
        <div class="col-md-4 col-lg-3">
            <a href="{{ url_for('cursive_printing.choose_mode') }}" class="text-decoration-none d-block h-100">
                <div class="card border-primary shadow-sm h-100">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='img/cursive_printing/cursive_printing.png') }}"
                            alt="Скоропечатание"
                            style="width: 120px; height: 80px; display: block; margin: 0 auto 15px;">
                        <h5 class="card-title">Скоропечатание</h5>
                        <p class="card-text text-muted">Тренировка скорости печати</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Навык Иностранные языки -->
        <div class="col-md-4 col-lg-3">
            <a href="{{ url_for('english.choose_english_mode') }}" class="text-decoration-none d-block h-100">
                <div class="card border-primary shadow-sm h-100">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='img/english/english.png') }}"
                            alt="Изучение иностранных слов"
                            style="width: 120; height: 80px; display: block; margin: 0 auto 15px;">
                        <h5 class="card-title">Изучение иностранных слов</h5>
                        <p class="card-text text-muted">Расширяйте словарный запас с интерактивными упражнениями</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Навык Python -->
        <div class="col-md-4 col-lg-3">
            <a href="{{ url_for('python.choose_level') }}" class="text-decoration-none d-block h-100">
                <div class="card border-primary shadow-sm h-100">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='img/python/Python_icon.jpeg') }}" alt="Python"
                            style="width: 120px; height: 80px; display: block; margin: 0 auto 15px;">
                        <h5 class="card-title">Программирование на Python</h5>
                        <p class="card-text text-muted">Насколько хорошо вы умеее писать код на Python?</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center g-4 mt-2">
        <!-- Навык Кликер -->
        <div class="col-md-4 col-lg-3">
            <a href="{{ url_for('clicker.clicker') }}" class="text-decoration-none d-block h-100">
                <div class="card border-primary shadow-sm h-100">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='img/clicker/clicker.png') }}" alt="Кликер"
                            style="width: 120px; height: 80px; display: block; margin: 0 auto 15px;">
                        <h5 class="card-title">Кликер</h5>
                        <p class="card-text text-muted">Реакция и внимание — кликай по кругам!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}